# Dependency directories
node_modules/

# Environment configuration files
.env

# Logs
logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env.local
.env.development.local
.env.test.local
.env.production.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# IDE / editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories (comment out if you need to check these in)
# jspm_packages/
# bower_components/

# TypeScript cache
*.tsbuildinfo

# Optional Yarn v2 directory
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
